* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-image: url();
    list-style-type: none;
    
    }
    body{
        overflow-x: hidden;
        cursor: pointer;
    }
    .main-width {
        width: 1280px;
        max-width: 95%;
        margin:auto;
        padding: 0px 20px;
    }
    .hero{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        background-image: url(/pexels-cottonbro-studio-4090165.jpg);
        background-size: cover;
        background-position: center;
        position:relative;
    
    }
    header{
        padding: 40px 0 30px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .logo i {
        height: 55px;
        width: 55px;
        background: transparent;
        border: 2px solid rgb(175, 35, 35);;
        color: rgb(175, 35, 35);;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    
    }
    
    nav .hamb {
        width: 35px;
        height: 24px;
        right: 3%;
        top: 60px;
        z-index: 5;
        background: white;
        position: absolute;
    
    }
    
    nav .hamb span{
        display: block;
        background: burlywood;
        width: 100%;
        height: 3px;
        transition: .3s;
        transition-property: transform,opacity;
    
    }
    nav .hamb span:nth-child(2){
        margin: 7px 0px;
    
    }
    nav .nav-list{
        list-style: none;
    }
    
    nav .nav-list li{
        display: inline-block;
    
    }
    nav .nav-list li a{
        display: inline-block;
        color: rgb(175, 35, 35);
        margin-left: 55px;
        font-size: 20px;
        font-weight: 600;
    }
    nav .nav-list li:not(:last-child) a:hover{
        color:burlywood;
        transition: .4s;
    }
    nav .nav-list li.btn a{
        display: inline-block;
        background: transparent;
        border:2px solid;
        padding: 9px 28px;
        border-radius: 30px;
        line-height: 1.3;
        color: rgb(175, 35, 35);
        font-weight: 600;
    }
    nav .nav-list li.btn:hover a{
        background:transparent;;
        color: rgb(221, 103, 103);
        border: 2px solid rgb(red, green, blue);
        transform: scale(1.1);
    
    }
    
    .container{
        padding-top: 190px
    }
    
    .container .hero-text{
        margin: 40px;
    }
    .container .hero-text h1{
        color: white ;
        font-size: 47px;
        font-weight: 900;
        line-height: 1.2;
        margin: 20px 0px 20px;
    }
    span{
        color: #98d2e0;
    
    }
    
    .container .hero-text h3{
        color: rgb(252, 237, 237);
        font-weight: 400;
        font-size: 17px;
    }
    .container .hero-text p{
        width: 440px;
        max-width: 100%;
        color: rgb(136, 236, 236);
        font-size: 18px;
        line-height: 1.5;
    }
    .social a{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: rgb(230, 184, 129);
        cursor:pointer;
        margin-right: 20px;
        margin-bottom: 35px;
    }
    
    .social a:hover{
        transform: scale(1.5)
    }
    .container .hero-text button{
        color:rgb(233, 177, 177);
        background: rgb(148, 51, 51);
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        padding: 8px 30px;
        border: 2px solid rgb(231, 99, 99);
        border-radius: 50px;
    
    }
    .container .hero-text button:hover{
        background: transparent;
        transition: .7s;
    }
    
    
    .bottom{
        color: azure;
    }

    #instruments{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: linear-gradient(rgba(44, 142, 155, 0.555), rgba(41, 194, 199, 0.5));
        color: #f0f4f5;
        background-size: cover;
        background-position: center;
        position:relative;
    
    }

    html {
        scroll-behavior: smooth scroll;
    }

#container{
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;

}
#instruments {
    background-color: rgb(161, 129, 129);
}

.instrument{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 2rem;
    padding: 0%;
    margin: 0;
    background-color: rgb(166, 179, 179);


}

.instrument img{
    width:100%;
}

.instrument .product-type{
    font-size: 2rem;
    padding:0 0 0 0;
    margin: 0 0 0 0;


}
.add-to-cart{
    padding: 1px;
    background: #98e0f1;
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    color: rgb(12, 94, 167);
    border-radius: 20px;
}

.price-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.product-content{
    padding: 0 2rem;
    flex-direction: column;

}
.navbar2{
   font-size : 20px;
   display: flex;
   justify-content: space-between;
   padding: 30px;
   align-items: center;
}
.main-cart :hover{
   transform: 1.3;
   color: aqua;
   transition: .8;
}

.main-cart p{
    height: 22px;
    width:22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.buy-now{
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buy-now:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.buy-now:hover:after {
  transform: translate(0, 0);
}

.buy-now:active {
  background-color: #ffdeda;
  outline: 0;
}

.buy-now:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.container2{
    display: flex;
    width: 70%;
    margin-bottom: 30px;

}
#root{
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.Sidebar{
    width: 100%;
    border-radius: 5px;
    background-color: #2b819b;
    margin-left: 50px;
    padding: 15px;
    text-align: center;
    
}
.Head{
    background-color:rgb(5, 70, 70);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom:20px  ;
    display: flex;
    align-items: center;
    color: aquamarine;

}
.foot{
    display:flex;
    justify-content:space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top:  solid #000;

}